<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ArrangeCourse" connectionString="server=.;database=CMSP;uid=sa;pwd=123456"
      providerName="System.Data.SqlClient" />
    <add name="CSMPConnectionString" connectionString="Data Source=DESKTOP-IEL2RIR;Initial Catalog=CSMP;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="CSMPConnectionString2" connectionString="Data Source=DESKTOP-IEL2RIR;Initial Catalog=CSMP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
